%h1#title Team Tracker
%h3.admin-link
  =link_to "admin", :admin_index
  =link_to "logout", destroy_user_session_path, :method=>:delete unless current_user.nil?
#content.full-width
  %div.team
    .team-title the team
    %ul.team-people
      -@users.each do |u|
        %li 
          =link_to u.full_name, "#usr#{u.id}", :class => 'user-link'
  %table.projects
    %thead
      %tr.titles
        -@columns.each do |c|
          %th{:class=>c}=c
        %th.add-new Create
    %tbody.data
      -@projects.each do |p|
        %tr{:class=>p.user_id}
          -@columns.each do |pc|
            %td{:class=>pc}= p[pc]
    
