
html{background:black;height:100%;}
body{margin:0 auto; width:800px; height:100%;background:white;padding:10px;}
h1{
  float:left;
}
.admin-link{
  float:right;
}
#content{
  float:left;
  margin-top: 50px;
}
.user {
  margin-left: 20px;
}
