$page_width: 800px;
html{background:black;height:100%;}
body{
  margin:0 auto; 
  width:$page_width; 
  height:80%;
  background:white;
  padding:10px;
  margin-top: 60px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#title{
  float:left;
}
.admin-link{
  float:right;
}
#content{
  float:left;
  margin-top: 50px;
}
.user {
  margin-left: 20px;
}


@mixin drop-down-box($color,$bgcolor){
  background-color:$bgcolor;
  text-align:center;
  margin-top:0;
  width: $page_width;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 0 0 0 4px $color;
  -webkit-box-shadow: 0 0 0 4px $color;
  box-shadow: 0 0 0 4px $color;
}


p.notice,p.alert{
  //padding: 8px;
  //margin-left:-8px;
  margin:2px;
}


.flash-container{
  @include drop-down-box(#DBDBDB,white);
  position: absolute;
  top:0px;
}
